{% extends 'polls/base.html' %}
{% block content %}
{% if umfrage %}
<h1>{{ umfrage.name }}</h1>
<h2>Antwortmöglichkeiten</h2>
{% if umfrage.choice_set.all %}
<form action="{% url 'vote' umfrage.slug %}" method="post">
    {% for choice in umfrage.choice_set.all %}
    <input type="radio" name="choice" value={{ choice.id }} id="choice{{ forloop.counter }}"/>
    <label> {{ choice.name }}</label>
    {% endfor %}
    <input type="submit" value="Antwort absenden">
</form>
{% else %}
<p>Leider wurde noch keine Antwortmöglichkeit hinterlegt</p>
{% endif %}
{% else %}
<h1>Es konnte keine Umfrage ausgegeben werden</h1>
{% endif %}
{% endblock %}
