{% extends 'suena1M/base.html' %}
{% load static %}
{% block content %}
{% if object %}
<h1>Spiel: {{ object.name }}</h1>
<div>
    <a href="{% url 'index' %}">Zurück</a>
    |
    <a href="#" 
    target="popup" 
    onclick="window.open('/chat/{{object.slug}}/','chat',',resizable=0,width=550,height=610');">
        Chat
    </a>
</div>

{% if object.is_active %}
{% if object.is_started %}
{% if not registered %}
<h3>Das Spiel ist bereits gestartet, leider kannst du nicht mehr mitmachen, sorry.</h3>
{% else %}
{% block field %}
{% endblock %}
{% endif %}
{% else %}
{% if not registered %}
<form action="{% url 'register' object.slug %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          Spieler Anzahl {{ object.player_set.all|length }}
        </span>
        <input type="text" class="form-control" placeholder="wie heisst du?" aria-label="Username"
               aria-describedby="basic-addon1" name="name">
        <input type="submit" value="Mitspielen" class="btn btn-primary">
    </div>
</form>
{% else %}
{% if object.player_set.all|length > 1 and object.player_set.all|length < 5 %}
<h3>Das Spiel könnte jetzt gestartet werden, wir brauchen 2-4 Mitspieler und haben bereits
    {{ object.player_set.all|length }}
</h3>
<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            style="float: right;">
        Spiel starten
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Irgendwelche letzten Worte?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Nachricht an alle:</label>
                            <textarea id="chat-message-input" class="form-control" id="message-text" name="message"></textarea>
                        </div>
                        <input type="hidden" value="{{ variable }}" name="user_name">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Doch nicht</button>
                            <button id="start-game-submit" class="btn btn-primary">Spiel starten</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h3>Warte auf weitere Mitspieler</h3>
{% endif %}

{{ object.slug|json_script:"game-slug" }}
{{ player|json_script:"player" }}
<script>
    const gameSlug = JSON.parse(document.getElementById('game-slug').textContent);
    const player = JSON.parse(document.getElementById('player').textContent);
    console.log("start#gameSlug: " + gameSlug);
    console.log("start#player: " + player);

    const gameSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/game/'
        + gameSlug
        + '/'
    );

    document.querySelector('#start-game-submit').onclick = function(e) {
        const action = "START_GAME";
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        gameSocket.send(JSON.stringify({
            'action': action,
            'player': player,
            'message': message,
        }));
    };
</script> 
{% endif %}
{% endif %}
{% else %}
<h3>Das Spiel ist nicht mehr aktiv. Wenn du mitgespielt hast kannst du dir <a
        href="{% url 'results' object.slug %}">hier</a> die Ergebnisse ansehen</h3>
{% endif %}

{% else %}
<h1>Es konnte kein Spiel gefunden werden</h1>
{% endif %}

{% endblock %}
