{% extends 'suena1M/base.html' %}
{% load static %}
{% block content %}
{% if object %}
    <h1>Spiel: {{ object.name }}</h1>
    <div>
        <a href="{% url 'index' %}">Zurück</a>
        |
        <a href="#" 
        target="popup" 
        onclick="window.open('/chat/{{object.slug}}/','chat',',resizable=0,width=550,height=610');">
            Chat
        </a>
    </div>

    <div hidden="true" id="messages-info" class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div hidden="true" id="messages-success" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div hidden="true" id="messages-warning" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div hidden="true" id="messages-danger" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div id="game_active" {{ object.is_inactive|yesno:",hidden" }}>
        <!-- <p>GAME IS ACTIVE</p> -->
        <div id="game_started" {{ object.is_not_started|yesno:",hidden" }}>
            <!-- <p>GAME IS STARTED</p> -->
            <div id="player_not_registered_1" {{ registered|yesno:",hidden" }}>
                <h3>Das Spiel ist bereits gestartet, leider kannst du nicht mehr mitmachen, sorry.</h3>
            </div>
            <div id="player_registered_1" {{ not_registered|yesno:",hidden" }}>
                <div class="cardWrapper">
                    <div id = "card_board">

                    </div>
                </div>
                <div class="gameWrapper">
                    <div class="row">
                        <div class="col-sm">DA Vortail 1</div>
                        <div class="col-sm">Tisch</div>
                        <div class="col-sm">DA Vortail 2</div>
                    </div>
                    <div class="row">
                        <div id = "prio_deck1" class="col-sm"></div>
                        <div id = "table_deck" class="col-sm"></div>
                        <div id = "prio_deck2" class="col-sm"></div>
                    </div>
                </div>
                <div id="round_0_dam" class="round_0_dam" hidden>
                    Als erstes müssen wir feststellen wer die Day Ahead Market Auktion bedienen wird.
                    Hierfür muss erst mal jeder Mitspieler sein Gebot abgeben.
                    Der Gewinner der Auktion erhält das Privileg der Wahl zusätzlicher Ressourcen
                    um sein Portfolio zu optimieren, sowie die Möglichkeit als erster an der
                    Intraday Auktion teilzunehmen, und damit andere in den Zugzwang zu setzen.
                    <br>
                    Aber die Day Ahead Auktion bringt nicht nur Vorteile. Als Gewinner der Auktion
                    muss man den vorsprochenen Betrag auch an dem Man bringen, andererseits droht die
                    Eisman Zahlung in Höhe des gebotenen Betrages. Als weiterer Nachteil kann
                    der Gewinner nicht mehr an der Intraday Auktion gewinnen als bei der Day Ahead
                    Deklariert worden ist.
                    Nur einer kann und muss den Day Ahead Market bedienen.
                    <br>
                    <h3>Entscheide nun ob Du es bist!</h3>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#damBidModal"
                                style="float: right;">
                            Gebe dein Gebot ab
                        </button>

                        <button id="da-bid-pass" class="btn btn-secondary" 
                                style="float: right;">
                            Danke, ich passe
                        </button>
    
                        <!-- Modal -->
                        <div class="modal fade" id="damBidModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Bereit für den Day Ahead Market?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Wie viel bietest Du?:</label>
                                                <input type="number" min="100" step="10" max="360" id="da-bid-value" class="form-control" id="message-text"></input>
                                            </div>
                                            <input type="hidden" value="{{ variable }}" name="user_name">
                                            <div class="modal-footer">
                                                <button id="da-bid-pass-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Danke, ich passe</button>
                                                <button id="da-bid" type="button" class="btn btn-primary">Gebot abgeben</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>                            
                <br>
                <table class="table table-striped table-dark">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Spieler</th>
                        <th scope="col">Total Revenue</th>
                        <th scope="col">Day Revenue</th>
                        <th scope="col">Dayahead Bid</th>
                        <th scope="col">Intraday Market Bid</th>
                    </tr>
                    </thead>
                    <tbody id="score_table">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div id="game_not_started" {{ object.is_started|yesno:",hidden" }}>
            <!-- <p>GAME IS NOT STARTED</p> -->
            <div id="player_not_registered_2" {{ registered|yesno:",hidden" }}>
                <!-- <p>USER NOT IS REGISTERED</p> -->
                <form action="{% url 'register' object.slug %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            Name
                        </span>
                        <input type="text" class="form-control" placeholder="wie heisst du?" aria-label="Username"
                            aria-describedby="basic-addon1" name="name">
                        <input type="submit" value="Mitspielen" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div id="player_registered_2" {{ not_registered|yesno:",hidden" }}>
                <!-- <p>USER IS REGISTERED</p> -->
                <div id="ready_to_start" class="ready_to_start" not_registered|yesno:",hidden" }}>
                    <h3>Das Spiel könnte jetzt gestartet werden, wir brauchen 2-4 Mitspieler und haben bereits
                        {{ players_count }}
                    </h3>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                style="float: right;">
                            Spiel starten
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Irgendwelche letzten Worte?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Nachricht an alle:</label>
                                                <textarea id="chat-message-input" class="form-control" id="message-text" name="message"></textarea>
                                            </div>
                                            <input type="hidden" value="{{ variable }}" name="user_name">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Doch nicht</button>
                                                <button id="start-game-submit" class="btn btn-primary">Spiel starten</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="registration_pending" class="registration_pending" {{ not_registered|yesno:",hidden" }}>
                    <h3>Warte auf weitere Mitspieler. Aktuell sind es: {{ players_count }}</h3>
                </div>
            </div>    
        </div>
    </div>
    <div id="game_not_active" {{ object.is_active|yesno:",hidden" }}>
        <!-- <p>GAME IS NOT ACTIVE</p> -->
        <h3>Das Spiel ist nicht mehr aktiv. Wenn du mitgespielt hast kannst du dir <a
            href="{% url 'results' object.slug %}">hier</a> die Ergebnisse ansehen</h3>
    </div>
{% else %}
    <h1>Es konnte kein Spiel gefunden werden</h1>
{% endif %}

{{ object.slug|json_script:"game-slug" }}
{{ player|json_script:"player" }}
<script>
    const gameSlug = JSON.parse(document.getElementById('game-slug').textContent);
    let player = JSON.parse(document.getElementById('player').textContent);
    let players_turn = false;
    let round_hour_number = 0;
    let dam_highest_value = 100;
    const ready_to_start_text = "Das Spiel könnte jetzt gestartet werden, wir brauchen 2-4 Mitspieler und haben bereits";
    const registration_pending_text = "Warte auf weitere Mitspieler. Aktuell sind es: ";
    console.log("gameSlug: " + gameSlug);
    console.log("player: " + JSON.stringify(player));

    const gameSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/game/'
        + gameSlug
        + '/'
    );

    function showAlert(message, level) {
        let messagesDiv = document.getElementById('messages-info');
        if (level == 1) {
            messagesDiv = document.getElementById('messages-success');
        } else if (level == 2) {
            messagesDiv = document.getElementById('messages-warning');
        } else if (level == 3) {
            messagesDiv = document.getElementById('messages-danger');
        }
        if (!messagesDiv) {
            console.error("could not find any messageDiv for level ", level);
            return;
        }
        messagesDiv.appendChild(document.createElement('div')).textContent=message;
        messagesDiv.hidden = false;
    }

    if (document.querySelector('#start-game-submit')) {
        document.querySelector('#start-game-submit').onclick = function(e) {
            const action = "START_GAME";
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'action': action,
                'player': player,
                'message': message,
            }));
        };
    }

    if (document.querySelector('#da-bid')) {
        document.querySelector('#da-bid').onclick = function(e) {
            const value = document.querySelector('#da-bid-value').value;
            dam_bid(value);
        };
    }

    if (document.querySelector('#da-bid-pass')) {
        document.querySelector('#da-bid-pass').onclick = function(e) {
            dam_bid(0);
        };
        document.querySelector('#da-bid-pass-modal').onclick = function(e) {
            dam_bid(0);
        };
    }

    function play(cardId) {
        if (!players_turn) {
            showAlert("Du bist jetzt nicht drann", 2);
            return;
        }
        if (round_hour_number != 0) {
            return play_idm_inner(cardId);
        } else {
            return pass_inner(cardId);
        }
    }
            
    function play_idm_inner(cardId) {
        console.log(`die karte ${cardId} wurde ausgewählt`);
        const action = "IDM_BID";
        gameSocket.send(JSON.stringify({
            'action': action,
            'player': player,
            'card': cardId,
        }));
       
    };

    function pass_inner(cardId) {
        console.log(`die karte ${cardId} wird abgegeben`);
        const action = "PRIO_SPLIT";
        gameSocket.send(JSON.stringify({
            'action': action,
            'player': player,
            'card': cardId,
        }));
    };

    function pick(deckId) {
        if (players_turn) {
            if (round_hour_number == 0) {
                console.log(`das prio deck ${deckId} wurde gewählt`);
                const action = "PRIO_PICK";
                gameSocket.send(JSON.stringify({
                    'action': action,
                    'player': player,
                    'deckId': deckId,
                }));
            } else {
                showAlert("Das sollte nicht möglich sein", 3);    
            }
        } else {
            showAlert("Du bist jetzt nicht drann", 2);
        }
    };

    function dam_bid(value) {
        if (round_hour_number == 0) {
            console.log(`day ahead bid ${value} wurde deklariert`);
            if (value != 0 && value <= dam_highest_value) {
                showAlert(`das Höhstbebot beträgt bereits ${dam_highest_value}`, 3);  
                return;
            }
            const action = "DAM_BID";
            gameSocket.send(JSON.stringify({
                'action': action,
                'player': player,
                'value': value,
            }));
        } else {
            showAlert("Das sollte nicht möglich sein", 3);    
        }
    };

    function on_dam_value_change(value) {
        console.log(`changed to ${value}, highes is: ${dam_highest_value}`);  
        document.getElementById('da-bid').disabled = value < dam_highest_value;
    };

    function connect() {
        gameSocket.onopen = function open() {
            console.log('WebSockets connection created.');
            // on websocket open, send the START event.
            gameSocket.send(JSON.stringify({
                "action": "CONNECT",
                'player': player,
            }));
        };

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("DATA: ", JSON.stringify(data));
            const message = data['context']['message'];
            const level = data['context']['level'];
            if (message) {
                showAlert(message, level)
            }
            const game = data['context']['game'];
            round_hour_number = game["round_hour_number"]
            if (game) {
                document.getElementById('game_active').hidden = !game["active"];
                document.getElementById('game_not_active').hidden = game["active"];
                document.getElementById('game_started').hidden = !game["started"];
                document.getElementById('game_not_started').hidden = game["started"];
                document.getElementById('round_0_dam').hidden = round_hour_number != 0;
            }
            player = data['context']['player'];
            if (player) {
                if (player['id'] == game["turn_hour_player"]) {
                    players_turn = true;
                    showAlert("Du bist drann", 1);
                }
            }
            const registered = data['context']["registered"];
            document.getElementById('player_registered_1').hidden = !registered;
            document.getElementById('player_not_registered_1').hidden = registered;
            document.getElementById('player_registered_2').hidden = !registered;
            document.getElementById('player_not_registered_2').hidden = registered;
            const readyToStart = data['context']["ready_to_start"]
            document.getElementById('ready_to_start').hidden = !readyToStart;
            document.getElementById('registration_pending').hidden = readyToStart;
            const playersCount = data['context']["players_count"];
            if (playersCount) {
                document.querySelector('.ready_to_start h3').firstChild.nodeValue = ready_to_start_text + " " + playersCount;
                document.querySelector('.registration_pending h3').firstChild.nodeValue = registration_pending_text + " " + playersCount;
            }
            const players = data['context']['players'];
            const score_table = document.getElementById('score_table');
            if (score_table && players) {
                $('#score_table').empty();
                players.forEach((p, i) => {
                    // console.log("Player at " + i + " is " + JSON.stringify(p));
                    $('#score_table').append(
                        `<tr id="R${i}">
                            <th scope="row">${p['name']}</th>
                            <td>${p['game_score']}</td>
                            <td>${p['round_score']}</td>
                            <td>${p['dam'] ? p['dam'] : '-'}</td>
                            <td>${p['idm'] ? p['idm'] : '-'}</td>
                        </tr>`
                    );
                });
            }
            const card_board = document.getElementById('score_table');
            const players_cards = data['context']["players_cards"];
            if (card_board && players_cards) {
                players_cards.forEach((c, i) => {
                    // console.log("Player card at " + i + " is " + JSON.stringify(c));
                    $('#card_board').append(
                        `<div 
                            class="square" 
                            id="card-${c['id']}"
                            data-index="${i}"
                            style="background:${c['color_value']};"
                        >
                            ${c['value']}K<br>${c['forecast_value']}
                        </div>`
                    );
                    $('#card_board').on("click", `#card-${c['id']}`, function() {
                        play(c['id']);
                    });
                });
            }
            const prio_deck1 = document.getElementById('prio_deck1');
            const prio_deck1_cards = data['context']["prio_deck1"];
            if (prio_deck1 && prio_deck1_cards) {
                prio_deck1_cards.forEach((c, i) => {
                    // console.log("Priority deck 1 card at " + i + " is " + JSON.stringify(c));
                    $('#prio_deck1').append(
                        `<div 
                            class="square" 
                            id="card-${c['id']}"
                            data-index="${i}"
                            style="background:${c['color_value']};"
                        >
                            ${c['value']}K<br>${c['forecast_value']}
                        </div>`
                    );
                    $('#prio_deck1').on("click", `#card-${c['id']}`, function() {
                        pick('prio_deck1');
                    });
                });
            }
            const prio_deck2 = document.getElementById('prio_deck2');
            const prio_deck2_cards = data['context']["prio_deck2"];
            if (prio_deck2 && prio_deck2_cards) {
                prio_deck2_cards.forEach((c, i) => {
                    // console.log("Priority deck 2 card at " + i + " is " + JSON.stringify(c));
                    $('#prio_deck2').append(
                        `<div 
                            class="square"
                            id="card-${c['id']}" 
                            data-index="${i}"
                            style="background:${c['color_value']};"
                        >
                            ${c['value']}K<br>${c['forecast_value']}
                        </div>`
                    );
                    $('#prio_deck2').on("click", `#card-${c['id']}`, function() {
                        pick('prio_deck2');
                    });
                });
            }
            const table_deck = document.getElementById('table_deck');
            const table_deck_cards = data['context']["table_deck"];
            if (table_deck && table_deck_cards) {
                table_deck_cards.forEach((c, i) => {
                    // console.log("Table card at " + i + " is " + JSON.stringify(c));
                    $('#table_deck').append(
                        `<div 
                            class="square" 
                            data-index="${i}"
                            style="background:${c['color_value']};"
                        >
                            ${c['value']}K<br>${c['forecast_value']}
                        </div>`
                    );
                });
            }
            if (data['context']["dam_highest_value"]) {
                dam_highest_value = data['context']["dam_highest_value"];
            }
            if (round_hour_number == 0) {
                if (players_turn) {
                    document.getElementById('da-bid-value').min = 110;
                    const value = document.querySelector('#da-bid-value').value;
                    if (dam_highest_value == 0) {
                        document.getElementById('da-bid-pass').disabled = true;
                        document.getElementById('da-bid-pass-modal').disabled = true;
                    }
                } 
                if (dam_highest_value) {
                    document.getElementById('da-bid-value').min = dam_highest_value + 10;
                    const value = document.querySelector('#da-bid-value').value;
                    if (value) {
                        document.getElementById('da-bid').disabled = value < dam_highest_value;
                    }
                }
                $('#da-bid-value').bind('keyup mouseup', function () {
                    on_dam_value_change($(this).val());            
                });
            }
            const dam_highest_bidder_id = data['context']["dam_highest_bidder_id"];
            const dam_highest_bidder_name = data['context']["dam_highest_bidder_name"];
            const dam_bidding_done = data['context']["dam_bidding_done"];
            if (dam_bidding_done && dam_highest_value && dam_highest_bidder_id && dam_highest_bidder_name) {
                if (dam_highest_bidder_id == player['id']) {
                    showAlert(`Gratulationen, du hast die Day Ahead Market Auktion mit deinen Gebot von ${dam_highest_value} gewonnen!`, 1);
                } else {
                    showAlert(`${dam_highest_bidder_name} hat die Day Ahead Market Auktion mit einen Gebot von ${dam_highest_value} gewonnen!`, 1);
                }
            }
        };

        gameSocket.onclose = function(e) {
            console.error('Game-Field socket closed unexpectedly');
        };

        if (gameSocket.readyState == WebSocket.OPEN) {
            gameSocket.onopen();
        }
    };

    connect();

</script>
<style type="text/css">
    #card_board {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: repeat(8, 1fr);
        width: 16em;
        height: auto;
        margin: 0.5em 0;
    }
    #prio_deck1, #prio_deck2, #table_deck {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: repeat(2, 1fr);
        width: 8em;
        height: auto;
        margin: 0.5em 0;
    }
    .square {
        background: #2f76c7;
        width: 5em;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5em;
        font-weight: 500;
        color: white;
        box-shadow: 0.025em 0.125em 0.25em rgba(0, 0, 0, 0.25);
    }
    .col-sm {
        font-size: x-large;
        text-align: center;
    }
</style>     

{% endblock %}
