{% extends 'suena1K/base.html' %}
{% load static %}
{% block content %}
<div class="lead">
    <img src="{% static 'suena1K/suena_logo.png' %}" style="float: right;"/>
</div>
<h1>suena 1K</h1>
<p class="lead">
    Herzlich willkommen bei suena 1K! Spilen Sie einmal den Energiehandel nach. Der erste Spieler der 1000 Punkte bekommt gewinnt!
</p>
<hr/>
<h4>Aktuell laufende Spiele</h4>
{% if games %}
<ul>
    {% for game in games %}
        {% if game.is_active %}
            <li><a href="{% url 'game' game.slug %}">{{ game.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<h4>Abgeschlossene Spiele</h4>
{% if games %}
<ul>
    {% for game in games %}
        {% if not game.is_active %}
            <li><a href="{% url 'results' game.slug %}">{{ game.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<div>
    <button type="button" class="btn btn-primary" style="float: right;">Neues Spiel</button>
</div>
{% endif %}
{% endblock %}